<p id="notice"><%= notice %></p>

<h1>Listing employees</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Status</th>
    <th>Working hours</th>
    <th>Salaried</th>
    <th>Salary</th>
    <th>Overtime Multiplier</th>
    <th>Allowance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.company %></td>
    <td><%= employee.status %></td>
    <td><%= employee.working_hours %></td>
    <td><%= employee.salaried %></td>
    <td><%= employee.salary %></td>
    <td><%= employee.overtime_multiplier %></td>
    <td><%= employee.allowance %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %> |
<%= link_to 'Bulk Add Time Records', employees_bulk_add_time_records_path %>
