<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="span6">
    <h3>Employee Information</h3><br/>
    <table class="table table-condensed">
      <tr>
        <td>Name</td>
        <td style="width: 60%"><strong><%= @employee.name %></strong></td>
      </tr>

      <tr>
        <td>Company</td>
        <td><strong><%= @employee.company %></strong></td>
      </tr>

      <tr>
        <td>Status</td>
        <td><strong><%= @employee.status %></strong></td>
      </tr>

      <tr>
        <td>Working hours</td>
        <td><strong><%= @employee.working_hours %></strong></td>
      </tr>

      <tr>
        <td>Salaried</td>
        <td><strong><%= @employee.salaried %></strong></td>
      </tr>

      <tr>
        <td>Salary</td>
        <td><strong><%= @employee.salary %></strong></td>
      </tr>

      <tr>
        <td>Overtime Multiplier</td>
        <td><strong><%= @employee.overtime_multiplier %></strong></td>
      </tr>

      <tr>
        <td>Allowance</td>
        <td><strong><%= @employee.allowance %></strong></td>
      </tr>

      <tr>
        <td>Include Saturday Salary</td>
        <td><strong><%= @employee.include_saturday_salary %></strong></td>
      </tr>

      <tr>
        <td>Generate Time Record</td>
        <td><strong><%= @employee.generate_time_record %></strong></td>
      </tr>

      <tr>
        <td>Lunch Minutes</td>
        <td><strong><%= @employee.lunch_minutes %></strong></td>
      </tr>
      <tr><td>&nbsp;</td><td></td></tr>
    </table>
  </div>

  <div class="span6">
    <h3>Pay For Week</h3><br/>
    <table class="table table-condensed">
      <tr><td>Reg Service - Ded</td><td style="width: 60%;"><strong><%= @weekly_reg_pay_with_ded %></strong></td></tr>
      <tr><td>OT</td><td><strong><%= @weekly_ot_pay %></strong></td></tr>
      <tr><td>Allowance</td><td><strong><%= @weekly_allowance %></strong></td></tr>
      <tr><td>Total Pay</td><td><strong><%= @weekly_total_pay %></strong></td></tr>
      <tr><td>&nbsp;</td><td></td></tr>
      <tr><td>Reg Service</td><td><strong><%= @weekly_reg_pay %></strong></td></tr>
      <tr><td>Total Pay w/o Ded</td><td><strong><%= @weekly_total_pay + @weekly_deductions - @weekly_holiday_pay %></strong></td></tr>
      <tr><td>Total Pay w/ Gov Ded</td><td><strong><%= @weekly_total_pay + @weekly_deductions - @weekly_holiday_pay - @gov_deductions %></strong></td></tr>
      <% if @weekly_holiday_pay > 0 %>
        <tr><td>Holiday Pay</td><td><strong><%= @weekly_holiday_pay %></strong></td></tr>
        <tr><td>Total Pay w/o Ded + Holiday</td><td><strong><%= @weekly_total_pay + @weekly_deductions %></strong></td></tr>
        <tr><td>Total Pay w/ Gov Ded + Holiday</td><td><strong><%= @weekly_total_pay + @weekly_deductions - @gov_deductions %></strong></td></tr>
      <% end %>
      <tr><td>&nbsp;</td><td></td></tr>
      <tr><td>Sat Net Pay</td><td><strong><%= @sat_net_pay %></strong></td></tr>
      <tr><td>Sat + Sun Pay</td><td><strong><%= @sat_sun_pay %></strong></td></tr>
      <tr><td>&nbsp;</td><td></td></tr>
    </table>
  </div>

</div>

<div class="row-fluid">
  <div class="span12">
    <%= link_to 'Edit', edit_employee_path(@employee) %> |
    <%= link_to 'Back', employees_path %> |
    <%= link_to 'Add Time Record', new_employee_time_record_path(@employee) %> |
    <%= link_to 'Add Deduction for week', new_employee_deduction_path(@employee, :week_ago => params[:page]) %>
  </div>
</div>

<br/><br/>

<div class="row-fluid">
  <div class="span12">
      <h3>Time Records (<%= @start_date %> to <%= @end_date %>)</h3><br/>
    <% if @time_records.any? %>
      <table class="table table-bordered">
        <thead>
            <tr>
              <th>Date</th>
              <th>AM Start</th>
              <th>AM End</th>
              <th>PM Start</th>
              <th>PM End</th>
              <th>Regular Hours</th>
              <th>Overtime Hours</th>
              <th>Regular Pay</th>
              <th>Overtime Pay</th>
              <th>Allowance</th>
              <th>Total Pay</th>
              <th>Deductions</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <%= render @time_records %>
        </tbody>
     </table>
     <% end %>
     <%= paginate @pages, :theme => 'twitter-bootstrap' %>
  </div>
</div>

<br/><br/>

<div class="row-fluid">
  <div class="span6">
    <% if @deductions.any? %>
      <h3>Deductions for week</h3><br/>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Type</th>
          <th>Month</th>
          <th>Amount</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render @deductions %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>