<%= form_for(@rsvp, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone, "Phone Number", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :guests, "Guests", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :guests %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :attending, "Attending?", :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :attending %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :notes, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :notes %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :questions, :class => "control-label" %>
  <div class="controls">
    <%= f.text_area :questions %>
  </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
