<p id="notice"><%= notice %></p>

<h1>Listing RSVPs</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Guests</th>
    <th>Attending?</th>
    <th>Notes</th>
    <th>Questions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rsvps.each do |rsvp| %>
  <tr>
    <td><%= rsvp.first_name %> <%= rsvp.last_name %></td>
    <td><%= rsvp.email %></td>
    <td><%= rsvp.phone %></td>
    <td><%= rsvp.guests %></td>
    <td><%= rsvp.attending %></td>
    <td><%= rsvp.notes %></td>
    <td><%= rsvp.questions %></td>
    <td><%= link_to 'Show', rsvp %></td>
    <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
    <td><%= link_to 'Destroy', rsvp, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New RSVP', new_rsvp_path %>
